#text-area-label {
     -fx-focus-color: transparent;
     -fx-faint-focus-color: transparent;
     -fx-background-color: transparent;
     -fx-border-color: transparent;
     -fx-text-fill: black
 }

 #text-area-label .content {
     -fx-background-color: transparent;
 }